#mapset-switch
  ul
    li
      &:after
        position absolute
        bottom 3px
        right 3px

        display: inline-block;
        padding: 3px 5px;
        font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
        line-height: 10px;
        color: #444d56;
        vertical-align: middle;
        background-color: #fafbfc;
        border: 1px solid #d1d5da;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #d1d5da;
      &.zakladni:after
        content "Q"
      &.turisticka:after
        content "W"
      &.letecka:after
        content "E"
